OpenAI_API_KEY=
OpenAI_BASE_URL=https://api.openai.com/v1

SiliconFlow_API_KEY=
SiliconFlow_BASE_URL=https://api.siliconflow.cn/v1

OpenRouter_API_KEY=
OpenRouter_BASE_URL=https://openrouter.ai/api/v1

DashScope_API_KEY=
DashScope_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

vLLM_API_KEY=
vLLM_BASE_URL=http://127.0.0.1:8000/v1
